.providerdata{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; 
     margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   
    justify-items: center;
    align-items: center;

}